%p.plum.sub-header.small Ang Hindi Mo Alam...
%h1 I Kim Atienza Mo!

%button{class: "btn btn-classic btn-round tenen"} I Kim Atienza Mo Na!

%p.answer


:javascript
  $(".tenen").click(function(){
    showLoading();
    $.get("/proxy.json", function(data){
      $(".answer").html("<h3>"+data.title+"</h3><p.plum>"+data.content+"</p>");
    });
  });

  showLoading = function(){
    $(".answer").html("<i class='fa fa-refresh fa-spin fa-lg'></i>");
  }

